.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: white;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
}

.nav-logo {
    
    font-family: Outfit;
    font-size: 42px;
    font-weight: 500;
    
}
.nav-menu {
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 18px;
    gap: 90px;
}

.nav-contact {
    border-radius: 50px;
    padding: 10px 38px;
    background-color: #fff;
    color: #262626;
    
}
.nav-contact:hover {
    background-color: orangered;
    
}
.nav-menu li {
    cursor: pointer;
}

.nav-menu li:hover {
    
    color: #FFA500;
}