.background{
    height: 100%;
    width: 100%;
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: none;
    object-fit: cover;
    z-index: -1;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fadein {
    animation: fadein 500ms ease-in-out    ;
    -webkit-animation: fadein 500ms ease-in-out    ;
}